@charset "utf-8";

/* WebFont */
@font-face{
    font-family:'NanumGothic';
    font-weight:400;
    src:url(/static/fonts/NanumGothic.woff2) format('woff2'),
        url(/static/fonts/NanumGothic.woff) format('woff'),
        url(/static/fonts/NanumGothic.otf) format('opentype');
}
@font-face{
    font-family:'NanumGothic';
    font-weight:700;
    src:url(/static/fonts/NanumGothicBold.woff2) format('woff2'),
        url(/static/fonts/NanumGothicBold.woff) format('woff'),
        url(/static/fonts/NanumGothicBold.otf) format('opentype');
}
@font-face{
    font-family:'NanumGothic';
    font-weight:800;
    src:url(/static/fonts/NanumGothicExtraBold.woff2) format('woff2'),
        url(/static/fonts/NanumGothicExtraBold.woff) format('woff'),
        url(/static/fonts/NanumGothicExtraBold.otf) format('opentype');
}

/* Reset */
*, *:after, *:before{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust:none;text-size-adjust:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-font-smoothing:antialiased;}
html, body{height:100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
ol, ul{list-style:none;}
ul:after, ol:after{content:'';display:block;clear:both;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
legend, caption{overflow:hidden;width:1px;height:1px;color:transparent;}
a{text-decoration:none;color:inherit;}
a[href^="tel"]{cursor:default;}
img{width:100%;vertical-align:middle;border:0 none;}
fieldset, button{background:none;border:0px;}
iframe{width:100%;vertical-align:middle;border:0 none;}
h1, h2, h3, h4, h5, h6{font-weight:700;-webkit-font-smoothing:subpixel-antialiased;}
input, select, textarea{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;;appearance:none;-webkit-border-radius:0;border-radius:0;outline:0;}
select::-ms-expand{display:none;}
input::-ms-clear{display:none;}
input[type=password]::-ms-reveal{display:none;}
b, strong{font-weight:700;}
em{font-style:inherit;}
button, input, optgroup, select, textarea{font:inherit;}
textarea{overflow-y:auto;}
button{cursor:pointer;}
button span{position:relative;}

/* Slider */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}

.slick-loading .slick-list{background:#fff url('/static/images/common/ajax-loader.gif') center center no-repeat;}

/* Arrows */
.slick-prev,.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent;}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{color:transparent;outline:none;background:transparent;}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1;}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25;}
.slick-prev:before,.slick-next:before{font-size:20px;line-height:1;opacity:.75;color:white;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-prev{left:-25px;}
[dir='rtl'] .slick-prev{right:-25px;left:auto;}
.slick-prev:before{content:'←';}
[dir='rtl'] .slick-prev:before{content:'→';}
.slick-next{right:-25px;}[dir='rtl'] .slick-next{right:auto;left:-25px;}
.slick-next:before{content:'→';}
[dir='rtl'] .slick-next:before{content:'←';}

/* Dots */
.slick-dotted.slick-slider{margin-bottom:30px;}
.slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center;}
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer;}
.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent;}
.slick-dots li button:hover,.slick-dots li button:focus{outline:none;}
.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-dots li.slick-active button:before{opacity:.75;color:black;}

body{font-weight:400;font-family:'NanumGothic', 'Malgun Gothic', sans-serif;line-height:1.53;color:#212121;-webkit-text-size-adjust:none;text-size-adjust:none;}
input, textarea, select{font-weight:400;font-family:'NanumGothic', 'Malgun Gothic', sans-serif;}

/* Layout */
html.ovf{overflow:hidden;}
#wrap{height:100%;}
#container{min-height:100%;margin:-23.47vw 0 -48.75vw;-webkit-box-sizing:content-box;box-sizing:content-box;}
#contents{padding:23.47vw 0 48.75vw;}

/* Header */
#header{position:relative;height:23.47vw;}
#header .logo{position:absolute;left:50%;top:3.89vw;transform:translateX(-50%);}
#header .logo a{display:block;width:32.08vw;}
#header .logo a img{width:100%;}
#header .call{display:block;position:fixed;left:10.42vw;top:5.69vw;width:11.39vw;z-index:50;}
#header .call a{display:block;}
#header .call img{width:100%;}
#header .notice{display:block;position:absolute;right:14.17vw;top:4.17vw;width:16.81vw;}
#header .notice a{display:block;}
#header .notice img{width:100%;}

#header .open_menu{display:block;position:absolute;right:1.25vw;top:6.67vw;padding:1.39vw;}
#header .open_menu span{display:block;}
#header .open_menu img{width:6.94vw;height:5.28vw;}
#header .navigation{position:fixed;left:100%;top:0;width:100%;height:100%;z-index:100;}
#header .menu_list{overflow:hidden;overflow-y:auto;position:absolute;right:0;top:0;width:80vw;height:100%;background-color:#fff;}
#header .menu_list_inner{position:relative;}
#header .menu_list_inner .menu_top{padding:6.27vw 0 1.46vw 6.53vw;background-color:#000;}
#header .menu_list_inner p{padding:3.6vw 6.53vw 2.8vw;font-size:3.73vw;/*height:10.67vw*/background-color:#e9e9e9;color:#333;}
#header .menu_list_inner .nav_admin{display:inline-block;font-size:4vw;color:#fff;vertical-align:middle;}
#header .menu_list_inner .nav_admin i.ico_admin{display:inline-block;margin:-1.07vw 1.33vw 0 0;width:4vw;height:5.33vw;background:url(/static/images/common/ico_menu_admin.png) no-repeat left top;background-size:100%;vertical-align:middle;}
#header .menu_list_inner .nav{border-top:0.27vw solid #eee;}
#header .menu_list_inner .nav li{border-bottom:0.13vw solid #ddd;font-size:3.47vw;}
#header .menu_list_inner .nav li a{display:block;padding:2.67vw 6.53vw;color:#404040;}
#header .menu_list_inner .nav li i{display:inline-block;margin-right:1.87vw;width:4.53vw;height:4.8vw;vertical-align:middle;}
#header .menu_list_inner .nav li i.ico_menu_quick{background:url(/static/images/common/ico_menu_quick.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .nav li i.ico_menu_review{background:url(/static/images/common/ico_menu_review.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .nav li i.ico_menu_dcar{background:url(/static/images/common/ico_menu_dcar.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .nav li i.ico_menu_fcar{background:url(/static/images/common/ico_menu_fcar.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .nav li i.ico_menu_about{background:url(/static/images/common/ico_menu_about.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .nav li i.ico_menu_loc{background:url(/static/images/common/ico_menu_loc.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .nav li i.ico_menu_etc{background:url(/static/images/common/ico_menu_etc.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .etc{background-color:#e9e9e9;border-bottom:0.13vw solid #d2d2d2;}
#header .menu_list_inner .etc ul{overflow:hidden;}
#header .menu_list_inner .etc ul li{position:relative;float:left;width:50%;font-size:3.47vw;text-align:center;}
#header .menu_list_inner .etc ul li a{display:block;padding:3.73vw 0 3.07vw;color:#212121;}
#header .menu_list_inner .etc ul li i{display:inline-block;margin:-0.53vw 0.27vw 0 0;width:4.53vw;height:4.53vw;vertical-align:middle;}
#header .menu_list_inner .etc ul li i.ico_menu_home{background:url(/static/images/common/ico_menu_home.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .etc ul li i.ico_menu_qna{margin-right:0.93vw;width:6.13vw;background:url(/static/images/common/ico_menu_qna.png) no-repeat left top;background-size:100%;}
#header .menu_list_inner .etc ul li:before{content:'';display:block;position:absolute;left:0;top:0;height:100%;width:0.13vw;height:100%;background-color:#d2d2d2;}
#header .menu_list_inner .etc ul li:first-child:before{display:none;}
#header .navigation .close_menu{display:block;position:absolute;right:4vw;top:4.8vw;padding:1.33vw;}
#header .navigation .close_menu span{display:block;width:3.6vw;height:3.6vw;}
#header .navigation .close_menu span img{widows:100%;height:100%;}
#header .navigation .dimmed{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);}

/* Footer */
#footer{padding:5.56vw 4.17vw 0 6.67vw;height:48.75vw;border-top:0.14vw solid #fff;background-color:#12284c;color:#fff;}
#footer em{display:block;margin-bottom:0.56vw;font-size:1.94vw;}
#footer p, #footer address{font-size:1.39vw;line-height:3.33vw}
#footer ul{overflow:hidden;margin-top:2.92vw;}
#footer ul li{position:relative;float:left;min-height:3.33vw;padding:0.42vw 0 0 4.44vw;font-weight:700;font-size:2.22vw;line-height:2.78vw;}
#footer ul li + li{margin-left:5.97vw;}
#footer ul li .icon{display:block;position:absolute;left:0;top:0;width:3.33vw;height:3.33vw;}
#footer ul li .ico_tel{background:url(/static/images/icon/ico_tel.png) no-repeat left top;background-size:100%;}
#footer ul li .ico_fax{background:url(/static/images/icon/ico_fax.png) no-repeat left top;background-size:100%;}
#footer .copyrights{margin-top:4.31vw;font-size:1.39vw;}

/* Title */
.tit_wrap{padding:4.86vw 3.61vw 4.31vw;}
.title01{font-size:3.47vw;letter-spacing:-0.025em;color:#12284c;}
.title01 span{color:#0c5dd7;}